{% extends "base/main.html" %}

{% block title %}
Add Student Detailes
{% endblock title %}

{% block main_content %}
<section class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row rounder text-center text-white justify-content-center mt-5">
        <div class="col-12">
            <h1>Welcome</h1>
            <h5>Enter Your Student Details</h5>
            <form class="bg-white p-3 rounded shadow" action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
</section>
{% endblock main_content %}